@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
#impressions,
my-rating,
recipe-ratings {
    display: block;
    width: 80%;
    margin: 0 auto;
}

recipe-overview,
my-footer{
    width: 98%;
    margin: 0 auto;
    margin-top: 5%;
}
recipe-overview{
    width: auto;
    padding: 0 5% ;
}

title-titleimage {
    height: 90vh;
}
recipe-overview {
    display: block;
    position: relative;
}
recipe-page {
    width: 70%;
}

.sidebar{
    width: 20%;
    margin-left: 5%;
}
section:first-of-type {
    margin-top: 5%;
}
section {
    display: flex;
    width: 98%;
    margin: 0 auto;
}
img {
    width: 70%;
    height: auto;
    object-fit: cover;
}