@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

my-rating,
recipe-ratings {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

add-new-rating {
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 60vw;
}

.display{
    display: inline-block;
}