@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

:host {
  display: inline-block;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 15px;
  margin: 15px 10px 0px;
}

.imgSize {
  margin: 25px 8px;
  width: 180px;
  height: 210px; 
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

img {
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: 6px;
}


