@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:host {
  display: block;
}

.headline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

#addrating {
  margin-right: 0;
  width: 96%;
  height: 10px;
  margin-top: 2%;
  background-color: #FFFAE9;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2%;
}