@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:host {
  display: block;
}

add-new-rating {
  display: none;
  position: fixed;
  top: 20%;
  left: 30%;
  width: 60vw;
}

.display{
  display: inline-block;
}


.headline {
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

#addrating {
  margin-right: 0;
  height: 10px;
  margin-top: 2%;
  background-color: #FFFAE9;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2%;
}

#addrating p {
  display: block;
  width: 95%;
}

#addbutton
{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#addbutton span
{
    width: 40px;
    height: 4px;
    background-color: black;
    border-radius: 4px;
}

#addbutton span:nth-child(1)
{
    transform: translateX(13px);
}

#addbutton span:nth-child(2)
{
    transform: rotate(90deg) translateY(12px);
}
