@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

:host {
  display: block;
}

.opener {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  position: relative;
  padding: 5px 15px;
  background-color: transparent;
  color: white;
  border: 5px solid white;
  margin-top: 28%;
  margin-left: 8%;
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 3em;
  position: absolute;
  margin-top: 16%;
  margin-left: 8%;
}

img {
  width: 100%;
  height: auto;  
}

.image {
  z-index: -1;
  margin: 0 auto;
  margin-left: -8px;
  width: 100%;
  position: absolute;
  height: 800px;
  overflow: hidden;
}